/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  color: #808885;
  font-family: 'Roboto', sans-serif;

  a {
    text-decoration: none;
  }
}

body {
  background-color: #141415;
}

div, li, button, input {
  border-radius: 5px;
}
